@import "partials/base";
@import "partials/media_queries";

body, a { 
    font-family: $primary-font;
    font-weight: 400;
    color: $Steel-Grey;
}

.navbar {
    justify-content: space-between;
    background-color: $Shuttle-Grey;
    color: $Vista-White;

    > .brand-name {
        font-size: 1.5rem;
        margin-left: 1rem;
        padding: .5rem;
    }

    
    ul { 
        margin-right: 1rem;

        a {
            color: $Vista-White;
            font-size: .9rem;
            padding: 1rem;
        }
        a:hover { background-color: $Pale-Sky;}
     }
    
    
    .toggle-button {
        top: 1rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 20px;

        .bar {
            background-color: $Vista-White;
            width: 100%;
            height: 3px;
            border-radius: 10px;
        }
    }
}

#section-one {
    height: calc(40vh - 51px);

    .top-image {
        width: 100%;
        height: 100%;
        background-image: url(../assets/images/8.jpg);
        background-position: center;
        background-size: cover;
        justify-content: space-evenly;

        h3 {
            color: #fff;
            font-weight: 700;
            font-size: 2em;
            width: 8em;
            text-align: center;
        }
        a {
            color: #fff;
            background-color: $Pistachio;
            padding: 8px 12px;
            border-radius: 5px;
            font-size: 1.1em;
            letter-spacing: 2px;
        }
    }
}

#section-two {
    height: 100vh;
    width: 100%;
    padding: 20px;

    .main-content {
        width: 100%;

        #sidemenu {
            height: 500px;
            width: 250px;
            background-color: $Shuttle-Grey;
            text-align: center;
    
            ul {
                   a li {
                        padding: 20px;
                        color: $Vista-White;
                        font-weight: 600;
                        border-bottom: solid $Pale-Sky .2px;
                        &:hover {
                            background-color: $Pale-Sky;
                        }
                    }
                
            }
        }
    
        .main-content-text {
            height: 500px;
            width: 700px;
            flex-direction: column;
            text-align: center;
            padding: 10px;
            border-top: solid $Pale-Sky .2px;
            border-bottom: solid $Pale-Sky .2px;

            > * {
                padding: 30px 0px;
            }
    
            h3 {
                padding: 10px 0px 30px 0px;
                font-size: 1.5em;
            }
            p { 
                font-size: 1em;
                padding: 0px 10px;
            }
    
            .boxes {
                width: 100%;
                flex-wrap: wrap;
    
                > div {
                    height: 130px;
                    width: 130px;
                    margin: 5px;
                    
                }
                #box-one { background-color: $Inchworm; }
                #box-two { background-color: $Illuminated-Emerald; }
                #box-three { background-color: $Cornflower-Blue; }
                #box-four { background-color: $Pistachio; }
            }
            
        }
    }

}


#section-three {
    height: auto!important;
    width: 100%;

    .grid-container {
        height: 90%;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 10px;

        .grid-item {
            border: solid silver .5px;

            img {
                height: 200px;
                width: 100%;
                object-fit: cover;
            }

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                height: 30%;
                width: 100%;

                a {
                    background-color: $Black-Smoke;
                    color: #fff;
                    padding: 5px 10px;
                    border-radius: 4px;

                    &:hover {
                        background-color: $Shuttle-Grey;
                    }
                }
            }
        }         
    }
}




